
<!--------------------------------------------------login page--------------------------------------------------->
    <div class="login  login-img" ng-controller="loginController">

        <div class="login-form form-img">
            <h1><center><b><big> Login </big></b></center></h1>

			<!------------------------login form--------------------------------------------->
         <form name="loginForm">
    <div class="form-group">
      <label for="Name"> Name</label>
      <input type="name" class="form-control" id="user-name" placeholder="name" name="name" ng-model="user.name" required="">
</div>
<div class="form-group">
  <label for="Name"> Contact no.</label>

  <input type="number" class="form-control" id="user-number" placeholder="number" name="mobile_number" ng-model="mobile_number" required=""  ng-pattern="/^[7-9][0-9]{9}$/">
<div ng-show="loginForm.mobile_number.$error.pattern">not valid number!</div> <!---use only number not character---->

</div>
<div class="form-group">

        <label for="user-email">Email address</label>
        <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" ng-model="user.email" required="">
        <div ng-show="loginForm.email.$error.required">Required!</div><!----required value honi chahiye '@'---->
        <div ng-show="loginForm.email.$error.email">This doesn't look like a valid email</div><!--error msg-->
    </div>
    <div class="form-group">
        <label for="user-password">Password</label>
    <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password" ng-minlength="6" ng-maxlength="15">
    <div ng-show="loginForm.password.$error.minlength"><!-------only 6 character nd numbers r valid-------->
    Password must be at least 6 characters long
    </div>
    <div ng-show="loginForm.password.$error.maxlength"><!-------atmost 15 characters nd numbers r valid-------->
    Password must be at most 15 characters long
    </div>
    <div ng-show="loginForm.password.$error.required">
    Please enter your password
    </div>
	</div>
	<center><button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="goToHome()">Login</button></center>     <!----angular js n call kiya gotoHome function ko---->
</form>


        </div>
    </div>
